html {
  background: #FFF;
}

body {
  background-color: #E0E0E0;
  min-width: 1300px;
  margin: 0px auto;
  padding: 10px 20px 50px 20px;
  font-family: "Helvetica", sans-serif;
}

.errors {
  background: #ff6666;
  width: 70%;
  padding: 15px;
  font-weight: bold;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

body {
  margin: 0px 25px;
}

/*Triangle maths BEGIN*/

.geometry {
  display: block;
}

.tax-triangle {
  position: relative;
  margin: 0px auto; 
}

#triangle-img {
  position: absolute;
  z-index: 1;
  margin: 0px auto;
  width: 1000px;
  height: 800px;
  top: 250px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.envelope {
  position: relative;
  margin: 0px auto;
  width: 1300px;
  height: 1100px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.circle {
  position: absolute;
  text-align: center;
  z-index: 3;
  width: 100%;
}

.restricted {
  left: 450px;
}

.non-qualified {
  top: 675px;
  left: -50px;
}

.nqa {
  top: 725px;
  left: 500px;
}

.qualified {
  top: 675px;
  left: 950px;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.helper {
  display: inline-block;
  height: 400px;
  vertical-align: middle;
}

.nqa-helper {
  display: inline-block;
  height: 300px;
  vertical-align: middle;
}

.img-block {
  width: 400px;
  height: 400px;
  /*border: 1px solid yellow;*/
}

.nqa-img-block {
  width: 300px;
  height: 300px;
  /*border: 1px solid yellow;*/
}
/*Triangle maths END*/


h1 {
  text-align: center;
}

/*Account Form BEGIN*/
form {
  width: 70%;
  margin: 0px auto;
}

table {
  margin: 0px auto;
  width: 90%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: center;
}

tbody tr:hover, tbody tr:hover th {
  background-color: #fff;
}

th {
  background-color: #aaa;
}

legend {
  text-align: center;
}

.accounts {
  margin: 0px auto;
}
/*Account Form END*/