html {
  background: #FFF;
}

body {
  background-color: #E0E0E0;
  min-width: 1000px;
  margin: 0px auto;
  padding: 10px 20px 50px 20px;
  font-family: "Helvetica", sans-serif;
}

.errors {
  background: #ff6666;
  width: 70%;
  padding: 15px;
  font-weight: bold;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

body {
  margin: 0px 25px;
}

/*Triangle maths BEGIN*/

.geometry {
  display: block;
}

.tax-triangle {
  position: relative;
  margin: 0px auto; 
}

#triangle-img {
  position: absolute;
  z-index: 1;
  margin: 0px auto;
  width: 750px;
  height: 600px;
  top: 360px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.envelope {
  position: relative;
  margin: 0px auto;
  width: 1000px;
  height: 1200px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.circle {
  position: absolute;
  text-align: center;
  z-index: 3;
  width: 600px;
}

.restricted {
  left: 200px;
}

.non-qualified {
  top: 530px;
  left: -175px;
}

.nqa {
  top: 580px;
  left: 250px;
}

.qualified {
  top: 530px;
  left: 575px;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}

.helper {
  display: inline-block;
  height: 600px;
  vertical-align: middle;
}

.nqa-helper {
  display: inline-block;
  height: 500px;
  vertical-align: middle;
}

.img-block {
  width: 600px;
  height: 600px;
  /*border: 1px solid yellow;*/
}

.nqa-img-block {
  width: 500px;
  height: 500px;
  /*border: 1px solid yellow;*/
}
/*Triangle maths END*/


h1 {
  text-align: center;
}

/*Account Form BEGIN*/

table {
  margin: 0px auto;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 10px 0px;
  text-align: center;
}

tbody tr:hover, tbody tr:hover th {
  background-color: #fff;
}

th {
  background-color: #aaa;
}

legend, input {
  text-align: center;
}

input {
  width: 90%; 
}
/*Account Form END*/