<div ng-controller="AccountListController as accountList">
  <fieldset>
    <legend>Account Information: {{accountList.accounts.length}} accounts</legend>
    <table>
      <thead>
        <tr>
          <th rowspan="2">Account Name</th>
          <th rowspan="2">Restricted</th>
          <th rowspan="2">Non-Qualified</th>
          <th rowspan="2">Non-Qualified Annuities</th>
          <th rowspan="2">Qualified</th>
          <th rowspan="2">Total</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="account in accountList.accounts">
          <th>{{account.name}}</th>
          <td>${{account.restricted}}</td>
          <td>${{account.nonQualified}}</td>
          <td>${{account.nonQualifiedAnnuities}}</td>
          <td>${{account.qualified}}</td>
          <th>${{account.accTotal}}</th>
        </tr>
        <form ng-submit="accountList.addAccount()">
          <tr>
            <th><input type="text" ng-model="accountList.name" size="30" placeholder="Name"></th>
            <td><input type="number" ng-model="accountList.restAmm" placeholder="Restricted"></td>
            <td><input type="number" ng-model="accountList.nonQualAmm" placeholder="Non-Qualified"></td>
            <td><input type="number" ng-model="accountList.nonQualAnnAmm" placeholder="Non-Qualified Annuities"></td>
            <td><input type="number" ng-model="accountList.qualAmm" placeholder="Qualified"></td>
            <th><input class="btn-primary" type="submit" value="Add"></th>
          </tr>
        </form>
        <tr>
          <th>Total:</th>
          <th>{{ getRestTotal() }} {{ getRestPercent() }}</th>
          <th>{{ getNonQualTotal() }} {{ getNonQualPercent() }}</th>
          <th>{{ getNQATotal() }} {{ getNQAPercent() }}</th>
          <th>{{ getQualTotal() }} {{ getQualPercent() }}</th>
          <th>{{ getColTotal() }}</th>
        </tr>
      </tbody>
    </table>
  </fieldset>
</div>