<div class="tax-triangle">
  <img id="triangle-img" src="triangle.png">

  <div class="restricted circle">
    <h2>Restricted</h2>
    <div class="img-block">
      <span class="helper"></span><img id="restricted-circle" src="lg-circle.png">
    </div>
  </div>

  <div class="non-qualified circle">
    <div class="img-block">
      <span class="helper"></span><img id="non-circle" src="lg-circle.png">
    </div>
    <h2>Non-Qualified</h2>
  </div>

  <div class="nqa circle">
    <div class="img-block">
      <span class="helper"></span><img id="nqa-circle" src="lg-circle.png">
    </div>
    <h2>Non-Qualified Annuities</h2>
  </div>

  <div class="qualified circle">
    <div class="img-block">
      <span class="helper"></span><img id="qual-circle" src="lg-circle.png">
    </div>
    <h2>Qualified</h2>
  </div>
</div>

<hr>