<div class="tax-triangle">
  <img id="triangle-img" src="triangle.png">

  <div class="envelope">
    <div class="restricted circle">
      <div class="img-block">
        <h2>Restricted ({{accountList.getRestPercent().toFixed(2)}}%)</h2>
        <span class="helper"></span><img id="restricted-circle" src="lg-circle.png" style=width:{{accountList.getRestPercent().toFixed(0)}}%;>
      </div>
    </div>

    <div class="non-qualified circle">
      <div class="img-block">
        <span class="helper"></span><img id="non-circle" src="lg-circle.png" style=width:{{accountList.getNQPercent().toFixed(0)}}%;>
        <h2>Non-Qualified ({{accountList.getNQPercent().toFixed(2)}}%)</h2>
      </div>
    </div>

    <div class="nqa circle">
      <div class="nqa-img-block">
        <span class="nqa-helper"></span><img id="nqa-circle" src="lg-circle.png" style=width:{{accountList.getNQAPercent().toFixed(0)}}%;>
        <h2>Non-Qualified Annuities ({{accountList.getNQAPercent().toFixed(2)}}%)</h2>
      </div>
    </div>

    <div class="qualified circle">
      <div class="img-block">
        <span class="helper"></span><img id="qual-circle" src="lg-circle.png" style=width:{{accountList.getQPercent().toFixed(0)}}%;>
        <h2>Qualified ({{accountList.getQPercent().toFixed(2)}}%)</h2>
      </div>
    </div>
  </div>
</div>