
<h1>Hello World</h1>
<hr>

<div class="tax-triangle">
  <img id="triangle-img" src="triangle.png">

  <div class="restricted circle">
    <h2>Restricted</h2>
    <div class="img-block">
      <span class="helper"></span><img id="restricted-circle" src="circle.png">
    </div>
  </div>

  <div class="non-qualified circle">
    <div class="img-block">
      <span class="helper"></span><img id="non-circle" src="circle.png">
    </div>
    <h2>Non-Qualified</h2>
  </div>

  <div class="qualified circle">
    <div class="img-block">
      <span class="helper"></span><img id="qual-circle" src="circle.png">
    </div>
    <h2>Qualified</h2>
  </div>
</div>

<form>
  
</form>
<!-- <hr>
<div>
  <label>Name:</label>
  <input type="text" ng-model="yourName" placeholder="Enter a name here">
  <hr>
  <h1>Hello {{yourName}}!</h1>
</div> -->